name: Build CI

on:
  push:
  pull_request:
  release:
    types: [published]
  check_suite:
    types: [rerequested]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - run: git fetch --recurse-submodules=no https://github.com/linuxcnc/linuxcnc refs/tags/*:refs/tags/*
      - name: Install build dependecies
        run: ./scripts/travis-install-build-deps.sh
      - name: Execute CMake
        run: |
          mkdir build
          cd build
          cmake ..
      - name: Execute Make
        run: |
          cd build
          make -j
      - name: Execute Tests
        run: |
          ls
          cd bin
          bash test-linuxcnc.sh ../../tests/  
